/Leccion 1/Ejercicio_2/nbproject/private/
/Leccion 1/Ejercicio_2/build/
/Leccion 1/Ejercicio5/nbproject/private/
/Leccion 1/Ejercicio5/build/
/Leccion 1/Ejercicio6/nbproject/private/
/Leccion 1/Ejercicio6/build/
/Leccion 1/Ejercicio7/nbproject/private/
/Leccion 1/Ejercicio7/build/
